// Define variables for your color scheme

// For example:
$dark-green: #14453D;
$green: #57A773;
$light-green: #DEE9E7;
$terracota: #BF4E30;
$orange: #F18F01;
$light-gray: #F7F7F9;
$gray: #f7f7f956;
