// Specific CSS for your dashboard
h1 {
  font-family: $icon-font;
  color: $dark-green;
}

.date-time-icon {
  display: flex;
  justify-content: space-around;
}

menu {
  a:active, a:hover {
    text-decoration:none;
  }
}
