// Specific CSS for your home-page
.first-spitch{
  background-color: #14453D;
  height: 140px;

    p{
    color: #DEE9E7;
    text-align: center;
    margin-left: 36px;
    margin-right: 36px;
    }

    span{
      color: #F18F01;
    }
}

.form{
  align-items: center;
}

.presentation{
  border-radius: 20px;
  background-color: lightgray;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;

  h4{
    text-align: center;
    padding-top: 5px;
    font-family: $icon-font;
    font-size: 15px;
  }

  p{
    text-align: center;
    font-size: 10px;
    padding-bottom: 10px;
  }
}

.scroll_city{

    h2{
      margin-left: 5px;
      font-size: 20px;
      color: $terracota;
      font-family: $icon-font;
    }
    a {
      text-decoration: none;
    }

}

.scroll_ride{

  margin-top: 20px;

    h2{
      margin-left: 5px;
      font-size: 20px;
      color: $terracota;
      font-family: $icon-font;
    }
    a {
      text-decoration: none;
    }
}


.content {
  min-height: $content-height;
}

.navbar-top {
  min-height: $navbar-top-height;
}

.navbar-bottom {
  min-height: $navbar-bottom-height;
}
