// Specific CSS for your show
.show-box {
  .description-ride {
    background: $light-green;
    padding: 1rem;
    border-radius: 15px;
    p {
      margin: 0;
      font-style: italic;
    }
  }

  .mapbox {
    position: relative;

    p {
      position: absolute;
      top: 1rem;
      z-index: 10;
    }

    .city-icon {
      left: 1rem;
    }

    .geoloc-icon {
      right: 1rem;
    }

    .relative-box {
      position: absolute;
      bottom: 1rem;
      z-index: 10;
      width: 100%;
    }
  }
}
