<div class="container">
  <% @rides.each do |ride| %>
    <div>
      <img src="https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/path-2+f50a0a(<%= ride.mapbox_path %>)/auto/800x800?access_token=<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  <% end %>
</div>
