<div class="lazy-loading-container d-flex flex-column align-items-center justify-content-center">
  <div>
    <%= image_tag "Logo - Riding Pot.png" %>
  </div>
  <div class="bike">
    <div class="bike__frame">
      <div class="tube tube--top"></div>
      <div class="tube tube--down"></div>
      <div class="tube tube--head"></div>
      <div class="tube tube--seat"></div>
      <div class="tube tube--seat-stays"></div>
      <div class="tube tube--chain-stays"></div>
    </div>

    <div class="bike__fork"></div>

    <div class="bike__wheel bike__wheel--front">
      <div class="spoke spoke--1"></div>
      <div class="spoke spoke--2"></div>
      <div class="spoke spoke--3"></div>
      <div class="spoke spoke--4"></div>
      <div class="spoke spoke--5"></div>
      <div class="spoke spoke--6"></div>
      <div class="spoke spoke--7"></div>
      <div class="spoke spoke--8"></div>
      <div class="spoke spoke--9"></div>
      <div class="spoke spoke--10"></div>
    </div>

    <div class="bike__wheel bike__wheel--back">
      <div class="cassette"></div>
      <div class="spoke spoke--1"></div>
      <div class="spoke spoke--2"></div>
      <div class="spoke spoke--3"></div>
      <div class="spoke spoke--4"></div>
      <div class="spoke spoke--5"></div>
      <div class="spoke spoke--6"></div>
      <div class="spoke spoke--7"></div>
      <div class="spoke spoke--8"></div>
      <div class="spoke spoke--9"></div>
      <div class="spoke spoke--10"></div>
    </div>


    <div class="bike__headset"></div>

    <div class="bike__stem"></div>

    <div class="bike__handlebar">
      <div class="grip"></div>
      <div class="break">
        <div class="break__lever"></div>
      </div>
    </div>

    <div class="bike__seatpost"></div>
    <div class="bike__seat"></div>

    <div class="bike__chain"></div>

    <div class="bike__crankset bike__crankset--left">
      <div class="crank">
        <div class="pedal"></div>
      </div>
    </div>

    <div class="bike__crankset bike__crankset--right">
      <div class="crank">
        <div class="pedal"></div>
      </div>

      <div class="chairings">
      </div>
    </div>
  </div>
</div>
