<div class='navbar-top'>
    <%= link_to "/", class: "img-logo-title d-flex" do %>
      <%= image_tag "Logo - Riding Pot.png" %>
      <h1 class= "img-logo-title d-flex justify-content-center">Riding-Pot</h1 >
    <% end %>
</div>
