<h1>Our components</h1>

<div>
  <%# buttons %>
  <div><a class='main-button' href="">Rejoindre</a></div>
  <div><a class='second-button' href="">Itinéraires</a></div>
  <div><a class='third-button' href="">Carte</a></div>

<%# card-home-city %>
<div class='card-home-city'>
  <p class='city-icon'>Nantes</p>
</div>

<p class='geoloc-icon'> <i class="fas fa-map-marker-alt"></i> 600 m</p>

<div class="d-flex justify-content-between">
  <div class="distance icon">
    <i class="fas fa-route"></i>
    <p>80 km</p>
  </div>

  <div class="icon">
    <i class="fas fa-mountain"></i>
    <p>200 m</p>
  </div>

  <div class="icon">
    <i class="fas fa-tachometer-alt"></i>
    <p>25 km/h</p>
  </div>

  <div class="icon">
    <i class="fas fa-users"></i>
    <p>10</p>
  </div>
</div>

<div class="date">
  <i class="fas fa-calendar"></i>
  <p>01/06/2022</p>
</div>

<div class="time">
  <i class="fas fa-clock"></i>
  <p>20h30</p>
</div>

<div class="address">
  <i class="fas fa-map-pin"></i>
  <p>Passage de la Poule Noire</p>
</div>

<div class="date-time-icon">
  <div class="date">
  <i class="fas fa-calendar"></i>
  <p>01/06/2022</p>
</div>

  <div class="time">
    <i class="fas fa-clock"></i>
    <p>20h30</p>
  </div>
</div>

<div class="card-index">
  <div class="d-flex justify-content-between">
    <p class='city-icon'>Nantes</p>
    <p class='geoloc-icon'> <i class="fas fa-map-marker-alt"></i> 600 m</p>
  </div>

  <div class="d-flex align-items-end">
    <div class="distance icon">
      <i class="fas fa-route"></i>
      <p>80 km</p>
    </div>
    <div class="icon">
      <i class="fas fa-mountain"></i>
      <p>200 m</p>
    </div>
    <div class="icon">
      <i class="fas fa-tachometer-alt"></i>
      <p>25 km/h</p>
    </div>
    <div class="icon">
      <i class="fas fa-users"></i>
      <p>10</p>
    </div>
  </div>

</div>

<%# avatar

navbar-top

navbard-bottom

search-bar


card-home-ride

card-index

card-ride-info

card-participants

card-dsahboard
  card-upcoming
  card-past


icons
  city-icon
  geoloc-icon
  distance-icon
  elevation-icon
  pace-icon
  participants-icon
  date-time-icon %>
</div>
