<h1>Our components</h1>

<%# buttons %>
<div><a class='main-button' href="">Rejoindre</a></div>
<div><a class='second-button' href="">Itinéraires</a></div>
<div><a class='third-button' href="">Carte</a></div>

<%# card-home-city %>
<div class='card-home-city'>
  <p class='city-icon'>Nantes</p>
</div>

<%# Pills geo %>
<p class='geoloc-icon'> <i class="fas fa-map-marker-alt"></i> 600 m</p>

<%#navbar-top %>
<div class='navbar-top d-flex align-items-center'>
    <%= link_to "/", class: "img-logo-title d-flex" do %>
      <%= image_tag "Logo - Riding Pot.png" %>
      <h1>Riding-Pot</h1 >
    <% end %>
</div>

<%# avatar %>
navbard-bottom

<%# Infos data trip %>
<div class="d-flex justify-content-between">
  <div class="distance icon">
    <i class="fas fa-route"></i>
    <p>80 km</p>
  </div>

  <div class="icon">
    <i class="fas fa-mountain"></i>
    <p>200 m</p>
  </div>

  <div class="icon">
    <i class="fas fa-tachometer-alt"></i>
    <p>25 km/h</p>
  </div>

  <div class="icon">
    <i class="fas fa-users"></i>
    <p>10</p>
  </div>
</div>

<%# Card index %>
<div class="card-index">
  <div class="d-flex justify-content-between">
    <p class='city-icon'>Nantes</p>
    <p class='geoloc-icon'> <i class="fas fa-map-marker-alt"></i> 600 m</p>
  </div>

  <div class="d-flex justify-content-between">
    <div class="icon">
      <i class="fas fa-route"></i>
      <p>80 km</p>
    </div>
    <div class="icon">
      <i class="fas fa-mountain"></i>
      <p>200 m</p>
    </div>
    <div class="icon">
      <i class="fas fa-tachometer-alt"></i>
      <p>25 km/h</p>
    </div>
    <div class="icon">
      <i class="fas fa-users"></i>
      <p>10</p>
    </div>
  </div>
</div>


<%# Card ride info %>
<div class="card-ride-info">
  <div class="address">
    <i class="fas fa-map-pin"></i>
    <p>Passage de la Poule Noire</p>
  </div>

  <div class="date-time-icon">
    <div class="date">
      <i class="fas fa-calendar"></i>
      <p>01/06/2022</p>
    </div>

    <div class="time">
      <i class="fas fa-clock"></i>
      <p>20h30</p>
    </div>
  </div>
</div>

<%# Card participants %>
<div class="participants">
  <p>Participants</p>
  <div class="participants-avatar">
    <div class="avatar avatar-host">
      <img src="" alt="">
    </div>
    <div class="avatar">
      <img src="" alt="">
    </div>
    <div class="avatar">
      <img src="" alt="">
    </div>
    <div class="avatar">
      <img src="" alt="">
    </div>
    <div class="avatar">
      <img src="" alt="">
    </div>
  </div>
</div>

<%# Navbar Bottom %>
<div class="navbar-bottom">
  <div class="navbar-bottom-icon">
    <i class="fas fa-home"></i>
    <p>Accueil</p>
  </div>

  <div class="navbar-bottom-icon">
    <i class="fas fa-bicycle"></i>
    <p>Sorties</p>
  </div>

  <div class="navbar-bottom-icon">
   <i class="fas fa-plus"></i>
    <p>Circuits</p>
  </div>

  <div class="navbar-bottom-icon">
    <i class="fas fa-user"></i>
    <p>Profil</p>
  </div>
</div>

<%# Card dashboard %>
<div class="card-dashboard-upcoming">
  <div class=" d-flex flex-row-reverse">
    <p class='city-icon'>Nantes</p>
  </div>

  <div class="date-time-icon">
    <div class="date">
      <i class="fas fa-calendar"></i>
      <p>01/06/2022</p>
    </div>

    <div class="time">
      <i class="fas fa-clock"></i>
      <p>20h30</p>
    </div>
  </div>
</div>


<%# avatar %>
<div class="avatar">
  <img src="" alt="">
</div>

<div class="avatar avatar-host">
  <img src="" alt="">
</div>

<div class="avatar avatar-joined">
  <img src="" alt="">
</div>
