<h1>Our components</h1>

<div>
  <%# buttons %>
  <div><a class='main-button' href="">Rejoindre</a></div>
  <div><a class='second-button' href="">Itinéraires</a></div>
  <div><a class='third-button' href="">Carte</a></div>

<%# card-home-city %>
<div class='card-home-city'>
  <p class='city-icon'>Nantes</p>
</div>


<%# avatar

navbar-top

navbard-bottom

search-bar


card-home-ride

card-index

card-ride-info

card-participants

card-dsahboard
  card-upcoming
  card-past


icons
  city-icon
  geoloc-icon
  distance-icon
  elevation-icon
  pace-icon
  participants-icon
  date-time-icon %>
</div>
