
<div class="first-spitch justify-content-center">
  <p>Trouvez une <span> sortie vélo </span> en quelques minutes et autour de chez vous.</p>
  <div class="d-flex justify-content-around">
  <%= form_tag rides_path, class: "search-form-control form-group",  method: :get do %>
      <%= text_field_tag :address,
        params[:address],
        class: "form-control string required",
        placeholder: "Adresse" %>
      <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i>
    </button>
  <% end %>
  </div>
</div>

<div class="presentation">
  <h4>Une plateforme unique</h4>
  <p>Trouvez des partenaires facilement pour vos <br> prochaines sorties vélo ou proposez <br> votre propre itinéraire à la communauté</p>
</div>

<div class="scroll_city">
  <h2>Les sorties par villes</h2>

  <div class="container-city-scroll">
    <div class="card-home-city"><p class="city-icon">Nantes</p>! </div>
    <div class="card-home-city"> <p class="city-icon">Paris</p>! </div>
    <div class="card-home-city"><p class="city-icon">Marseille</p>!  </div>
    <div class="card-home-city"><p class="city-icon">Lille</p>! </div>
    <div class="card-home-city"> <p class="city-icon">Bordeaux</p>! </div>
    <div class="card-home-city"><p class="city-icon">Rennes</p>! </div>
  </div>
</div>

<div class="scroll_ride">
  <h2>Les meilleures sorties</h2>

  <div class="container-city-scroll">
    <div class="card-home-city"><p class="city-icon">Nantes</p>! </div>
    <div class="card-home-city"> <p class="city-icon">Paris</p>! </div>
    <div class="card-home-city"><p class="city-icon">Marseille</p>!  </div>
    <div class="card-home-city"><p class="city-icon">Lille</p>! </div>
    <div class="card-home-city"> <p class="city-icon">Bordeaux</p>! </div>
    <div class="card-home-city"><p class="city-icon">Rennes</p>! </div>
  </div>
</div>

<div class="Bottom_nav">
  <p>icon Accueil</p>
  <p>Accueil</p>
  <p>icon Sorties</p>
  <p>Sorties</p>
  <p>icon Circuits</p>
  <p>Circuits</p>
  <p>icon Profil</p>
  <p>Profil</p>
</div>
