
<div class="first-spitch justify-content-center">
  <p>La meilleure platerforme pour<span> partager des sorties vélo</span> à plusieurs et autour de chez toi !</p>
  <div class="d-flex justify-content-around">
  <%= form_tag rides_path, class: "search-form-control form-group",  method: :get do %>
      <%= text_field_tag :address,
        params[:address],
        class: "form-control string required",
        placeholder: "Adresse" %>
      <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i>
    </button>
  <% end %>
  </div>
</div>

<div class="presentation">
  <h4>Présentation du concept</h4>
  <p>Description: aghezchufrvhgrvhgr vbhjf hgrj <br>hgui hgui hgj hgr jh fazufh azufh </p>
</div>

<div class="scroll_city">
  <h2>Les sorties par villes</h2>

  <div class="container-city-scroll">
    <div class="card-home-city"><p class="city-icon">Nantes</p>! </div>
    <div class="card-home-city"> <p class="city-icon">Paris</p>! </div>
    <div class="card-home-city"><p class="city-icon">Marseille</p>!  </div>
    <div class="card-home-city"><p class="city-icon">Lille</p>! </div>
    <div class="card-home-city"> <p class="city-icon">Bordeaux</p>! </div>
    <div class="card-home-city"><p class="city-icon">Rennes</p>! </div>
  </div>
</div>

<div class="scroll_ride">
  <h2>Les meilleures sorties</h2>

  <div class="container-ride-scroll">
    <div class="card-home-ride">

      <div class="cardridetop">
        <p class="city-icon">Nantes</p>!
      </div>
      <div class="cardridebot">
        <div class="distance icon">
          <i class="fas fa-route"></i>
          <p>80 km</p>
        </div>
        <div class="icon">
         <i class="fas fa-users"></i>
         <p>10</p>
        </div>
      </div>
    </div>

    <div class="card-home-ride">

      <div class="cardridetop">
        <p class="city-icon">Paris</p>!
      </div>
      <div class="cardridebot">
        <div class="distance icon">
          <i class="fas fa-route"></i>
          <p>50 km</p>
        </div>
        <div class="icon">
         <i class="fas fa-users"></i>
         <p>2</p>
        </div>
      </div>
    </div>

   <div class="card-home-ride">

      <div class="cardridetop">
        <p class="city-icon">Marseille</p>!
      </div>
      <div class="cardridebot">
        <div class="distance icon">
          <i class="fas fa-route"></i>
          <p>110 km</p>
        </div>
        <div class="icon">
         <i class="fas fa-users"></i>
         <p>9</p>
        </div>
      </div>
    </div>

    <div class="card-home-ride">

      <div class="cardridetop">
        <p class="city-icon">Lille</p>!
      </div>
      <div class="cardridebot">
        <div class="distance icon">
          <i class="fas fa-route"></i>
          <p>50 km</p>
        </div>
        <div class="icon">
         <i class="fas fa-users"></i>
         <p>14</p>
        </div>
      </div>
    </div>

    <div class="card-home-ride">

      <div class="cardridetop">
        <p class="city-icon">Bordeaux</p>!
      </div>
      <div class="cardridebot">
        <div class="distance icon">
          <i class="fas fa-route"></i>
          <p>80 km</p>
        </div>
        <div class="icon">
         <i class="fas fa-users"></i>
         <p>4</p>
        </div>
      </div>
    </div>

    <div class="card-home-ride">

      <div class="cardridetop">
        <p class="city-icon">Rennes</p>!
      </div>
      <div class="cardridebot">
        <div class="distance icon">
          <i class="fas fa-route"></i>
          <p>140 km</p>
        </div>
        <div class="icon">
         <i class="fas fa-users"></i>
         <p>7</p>
        </div>
      </div>
    </div>
  </div>
</div>
