
<div class="first-spitch d-flex justify-content-center">
  <p>La meilleure platerforme pour<span> partager des sorties vélo</span> à plusieurs et autour de chez toi !</p>
</div>

<div class=" equipment-form d-flex justify-content-around">
      <form action="/index" accept-charset="UTF-8" method="get">
        <div class="search-form-control form-group">
          <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search text-blue"></i>
          </button>
        </div>
      </form>
</div>

<div class="presentation">
  <h4>Présentation du concept</h4>
  <p>Description: aghezchufrvhgrvhgr vbhjf hgrj <br>hgui hgui hgj hgr jh fazufh azufh </p>
</div>

<div class="scroll_city">
  <h2>Les sorties par villes</h2>

  <div class="container-city-scroll">
    <div class="card-home-city"><p class="city-icon">Nantes</p>! </div>
    <div class="card-home-city"> <p class="city-icon">Paris</p>! </div>
    <div class="card-home-city"><p class="city-icon">Marseille</p>!  </div>
    <div class="card-home-city"><p class="city-icon">Lille</p>! </div>
    <div class="card-home-city"> <p class="city-icon">Bordeaux</p>! </div>
    <div class="card-home-city"><p class="city-icon">Rennes</p>! </div>
  </div>
</div>

<div class="scroll_ride">
  <h2>Les meilleures sorties</h2>

  <div class="container-city-scroll">
    <div class="card-home-city"><p class="city-icon">Nantes</p>! </div>
    <div class="card-home-city"> <p class="city-icon">Paris</p>! </div>
    <div class="card-home-city"><p class="city-icon">Marseille</p>!  </div>
    <div class="card-home-city"><p class="city-icon">Lille</p>! </div>
    <div class="card-home-city"> <p class="city-icon">Bordeaux</p>! </div>
    <div class="card-home-city"><p class="city-icon">Rennes</p>! </div>
  </div>
</div>

<div class="Bottom_nav">
  <p>icon Accueil</p>
  <p>Accueil</p>
  <p>icon Sorties</p>
  <p>Sorties</p>
  <p>icon Circuits</p>
  <p>Circuits</p>
  <p>icon Profil</p>
  <p>Profil</p>
</div>
