<div class="landing-banner">
  <link href="logo" rel="">
  <h1>Riding Pot</h1>
  <p>La meilleure platerforme pour partager des sorties vélo à plusieurs et autour de chez toi !</p>

  <div class="presentation">
    <h4>Présentation du concept</h4>
    <p>Description: aghezchufrvhgrvhgr vbhjf hgrj hgui hgui hgj hgr</p>
  </div>

  <div class="search-form">
  </div>
</div>

<div class="caroussel_city">
  <h2>Les sorties par ville</h2>

  <div class="container-city-scroll">
    <div class="card-exp">Experimental!!! </div>
    <div class="card-exp"> Experimental!!! </div>
    <div class="card-exp">Experimental!!!  </div>
    <div class="card-exp">Experimental!!! </div>
    <div class="card-exp"> Experimental!!! </div>
    <div class="card-exp">Experimental!!! </div>
    <div class="card-exp"> Experimental!!! </div>
  </div>
</div>

<div class="caroussel_rides">
  <h2>Les meilleures sorties</h2>
  <p>caroussel des rides</p>
</div>

<div class="Bottom_nav">
  <p>icon Accueil</p>
  <p>Accueil</p>
  <p>icon Sorties</p>
  <p>Sorties</p>
  <p>icon Circuits</p>
  <p>Circuits</p>
  <p>icon Profil</p>
  <p>Profil</p>
</div>
