.card-index {
  background-size: cover;
  background-position: center;
  padding: 10px;
  border-radius: $border-radius;
  height: 22rem;
  box-shadow: $box-shadow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  width: 100%;
}

.box {
  a {
    text-decoration: none;
  }
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

.mapboxgl-ctrl-attrib-inner {
  display: none !important;
}

.back-btn {
  padding-top: 5px;
  i {
  font-size: 25px;
  color: $terracota;
  }
}
