.card-dashboard-upcoming {
  background-size: cover;
  background-position: center;
  padding: 10px;
  border-radius: $border-radius;
  height: 12rem;
  box-shadow: $box-shadow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;

  .date-time-icon {
    margin: 0;
  }
}
