.card-home-ride {
  padding: 10px;
  margin: 10px;
  min-width: 13rem;
  height: 15rem;
  border-radius: 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/assets/example-map.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p {
    margin: 0;
  }

  .cardridetop{
    display: flex;
    justify-content: flex-end;

  }

  .cardridebot{
    display: flex;
    justify-content: space-between;
  }

  .icon {
    height: 70px;
    width: 70px;

  }
}

.container-ride-scroll {
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
}
