.card-index-map {
  background-color: $light-gray;
  background-size: cover;
  background-position: center;
  padding: 10px;
  border-radius: $border-radius;
  // height: 22rem;
  box-shadow: $box-shadow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  width: 90%;

  .title {
    color: $dark-green;
    font-weight: bold;
    font-size:large;
    padding-top: 3px;
    padding-left: 5px;
  }

  .geoloc-icon {
    margin: 0;
    padding-bottom: 0px !important;
  }
}

.card-index-map-global {
  border: none;
  a {
    text-decoration: none;
  }
}

.box {
  a {
    text-decoration: none;
  }
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

.mapboxgl-ctrl-attrib-inner {
  display: none !important;
}
