.mapboxgl-ctrl-geocoder--input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 15px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.mapboxgl-ctrl-geocoder--icon-loading{
  display: none;
}

.mapboxgl-ctrl-geocoder--icon-close{
  display: none;
}

.mapboxgl-ctrl-geocoder--button{
  display: none;
}

.mapboxgl-ctrl-geocoder--icon-search{
  display: none;
}

.form-select{
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 15px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#ride_starting_time_4i{
  width: 100%;
}
