.city-icon {
  color: $terracota;
  background-color: $light-gray;
  font-family: $icon-font;
  font-weight: 700;
  padding: 6px 17px;
  border-radius: $border-radius;
  display: inline-block;
  text-align: center;
  font-size: 1.2rem;
}

.geoloc-icon {
  color: $gray;
  background-color: $light-gray;
  font-family: $icon-font;
  font-weight: 700;
  padding: 6px 17px;
  border-radius: $border-radius;
  display: inline-block;
  text-align: center;
  font-size: 1rem;
}

.icon {
  background-color: $orange;
  color: $light-gray;
  height: 75px;
  width: 75px;
  display: flex;
  border-radius: 15px;
  padding: 8px;
  margin: 5px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: $icon-font;

  i {
    font-size: 25px;
  }

  p {
    margin: 0;
    font-weight: bold;
    font-size: 1rem;
  }
}

.date {
  display: flex;
  padding: 10px;
  align-items: center;

  p {
    margin: 0;
  }

  i {
    font-size: 20px;
  }
}

.time{
  display: flex;
  padding: 10px;
  align-items: center;

  p {
    margin: 0;
  }

  i {
    font-size: 20px;
  }
}

.address {
  display: flex;
  padding: 10px;
  justify-content: center;

  p {
    margin: 0;
    font-weight: bold;
  }

  i {
    font-size: 20px;
    color: $green;
  }
}

.date-time-icon {
  color: $light-gray;
  background-color: $green;
  font-family: $headers-font;
  font-weight: 700;
  padding: 0px 5px;
  border-radius: $border-radius;
  width: 72vw;
  font-family: $icon-font;
  margin: auto;
}
