.city-icon {
  color: $terracota;
  background-color: $light-gray;
  font-family: $headers-font;
  font-weight: 700;
  padding: 6px 17px;
  border-radius: 15px;
  display: inline-block;
  text-align: center;
}

.geoloc-icon {

}

.distance-icon {

}

.elevation-icon {

}

.pace-icon {

}

.participants-icon {

}

.date-time-icon {

}
