.navbar-top {
  background-color: $dark-green;
  display: flex;
  align-items: center;
  position: relative;

  .img-logo-title {
    text-decoration: none;
    display: flex;
    margin: auto;

    img {
      width: 80px;
      height: 80px;
      position: absolute;
      top: 0;
      bottom: O;
      left: 55px;
    }

    h1 {
      font-family: $icon-font;
      color: $light-gray;
      margin: auto;
      margin-right: -15px;
    }
  }
}

.back-btn {
  padding-top: 10px;
  padding-left: 20px;
  position: absolute;
  i {
    color: $light-gray;
    font-size: 25px;
  }
}
