.navbar-top{
  background-color: $dark-green;
  height: 10vh;
  display: flex;
  align-items: center;

  .img-logo-title{
    text-decoration: none;
    margin-left: 20px;

    img {
      width: 80px;
      height: 80px;
    }

    h1 {
      margin-bottom: 0;
      margin-top: 22px;
      font-family: $icon-font;
      color: $light-gray;
    }

  }

  .form-navbar{



  }

}
