.search-form-control{
  width: 250px;
  position: relative;
}

.search-form-control .btn {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
}

.equipment-form {
  background-color: #14453D;
  height: 75px;
}
