<div class="index-rides" data-controller="edit-index">
  <div class="d-flex justify-content-between my-2">
    <button class="second-button" data-action="click->edit-index#displayIndex" data-edit-index-target="lbtn">Itinéraires</button>
    <button class="third-button" data-action="click->edit-index#displayMap" data-edit-index-target="mbtn">Carte</button>
  </div>

  <div data-edit-index-target="list">
    <%= render "shared/index_list" %>
  </div>
  <div data-edit-index-target="map" class="d-none">
    <%= render "shared/index_map" %>
  </div>
</div>
