<div class="index-rides">
  <div class="d-flex justify-content-between my-2">
    <%= link_to 'Itinéraires', rides_path(choice: "index_list"), class: (params[:choice] == "index_list" || params[:choice].nil? ? "second-button" : "third-button") %>
    <%= link_to 'Carte', rides_path(choice: 'index_map'), class: (params[:choice] == "index_map" ? "second-button" : "third-button") %>
  </div>

  <% if params[:choice] == 'index_list' || params[:choice].nil? %>
    <%= render "shared/index_list" %>
  <% elsif params[:choice] == 'index_map' %>
    <%= render "shared/index_map" %>
  <% end %>
</div>
